.navigation .h{
	display: inline-block;
}

.navigation .item {
    line-height: 30px;
    margin-bottom: 15px;
}

.navigation .item:not(:last-child){
    margin-right: 5px;
}

.navigation .itm {
	line-height: 30px;
	margin-bottom: 10px;
}

.navigation .itm:not(:last-child){
    margin-right: 5px;
}

.navigation button{
    font-family: "Marmelad-Regular";
    border: none;
    background-color: #F5F5F5;
    border-left: 5px solid #ECECEC!important;
    font-size: 17px;
    color: #888888;
	width: 265px;
    padding: 14px;
}